stages:
  - generate
  - build

variables:
  EB_PATH: "/bigdata/rz/rosi_easybuild"
  EB_SOURCE: "/data/rosi/shared/eb/easybuild_environments/rome/eb_env"
  SOURCE_PATH: "/data/rosi/shared/eb/easybuild_source"
  GITLAB_CI_GENERATE: "1"
  ARCH: 'milan'


default:
  tags: ['rosi-admin-shell']
  before_script:
    - ml python
    - source $EB_SOURCE/bin/activate
  id_tokens:
    CI_JOB_JWT:
      aud: "https://codebase.helmholtz.cloud"

generate_pipeline:
  stage: generate
  variables:
    HOOK: "$CI_PROJECT_DIR/gitlab_hook.py"
  script:
    - echo "Generating EasyBuild GitLab CI pipeline for GPU packages"
    - echo "DEBUG Environment variables:"
    - echo "GITLAB_CI_GENERATE=$GITLAB_CI_GENERATE"
    - echo "Current directory is $(pwd)"
    - ls -la gitlab_hook.py || echo "Hook file NOT FOUND"
    - |
      eb --hooks=gitlab_hook.py \
         --installpath=${EB_PATH}/${ARCH} \
         --installpath-modules=${EB_PATH}/${ARCH}/modules \
         --tmp-logdir=eblog \
         --buildpath=ebbuild \
         --sourcepath=/data/rosi/shared/eb/easybuild_source \
         --cuda-compute-capabilities=8.0 \
         --robot --insecure-download --disable-mpi-tests --skip-test-step --skip-test-cases \
         --robot-paths=${CI_PROJECT_DIR}/easyconfigs \
         --ignore-checksums \
         --accept-eula-for=Intel-oneAPI,CUDA,NVHPC,cuDNN --force \
         --trace --max-parallel=8 \
        SCOTCH-7.0.1-gompi-2022a.eb \
        FFTW.MPI-3.3.10-gompi-2022a.eb \
        FFTW.MPI-3.3.10-gompi-2023a.eb \
        FFTW.MPI-3.3.10-gompi-2024a.eb \
        HDF5-1.14.0-gompi-2023a.eb \
        HDF5-1.14.5-gompi-2024a.eb \
        ScaLAPACK-2.2.0-gompi-2023a-fb.eb \
        ScaLAPACK-2.2.0-gompi-2024a-fb.eb \
        SuperLU-6.0.1-foss-2023b.eb \
        arpack-ng-3.9.1-foss-2024a.eb \
        libvdwxc-0.4.0-foss-2024a.eb \
        MUMPS-5.7.2-foss-2023b-parmetis.eb \
        MUMPS-5.7.2-foss-2024a-metis.eb \
        ELPA-2023.05.001-foss-2023a.eb \
        ELPA-2023.11.001-foss-2023b.eb \
        ELPA-2024.05.001-foss-2024a.eb \
        PETSc-3.20.3-foss-2023a.eb \
        SLEPc-3.20.1-foss-2023a.eb \
        ESL-Bundle-0.6.1-foss-2020b.eb \
        ELSI-2.9.1-foss-2022a-PEXSI.eb \
        ELSI-2.11.0-foss-2023a-PEXSI.eb \
        Python-bundle-3.10.4-foss-2022a.eb \
        R-4.2.2-foss-2022b.eb \
        pyFFTW-0.13.1-foss-2022a.eb \
        h5py-3.12.1-foss-2024a.eb \
        h5netcdf-1.2.0-foss-2023a.eb \
        netcdf4-python-1.7.1.post2-foss-2024a.eb

    - python inject_defaults.py easybuild-child-pipeline.yml
    - echo "Pipeline generation completed"
    - cat easybuild-child-pipeline.yml


  artifacts:
    paths:
      -  easybuild-child-pipeline.yml
    expire_in: 1 week

execute_builds:
  stage: build
  trigger:
    include:
      - artifact:  ${CI_PROJECT_DIR}/easybuild-child-pipeline.yml
        job: generate_pipeline
    strategy: depend
  variables:
    EB_PATH: $EB_PATH
#    CUDA_COMPUTE_CAPABILITIES: 8.0
    SCHEDULER_PARAMETERS: "--nodes=1 --ntasks-per-node=8 --partition=cpu-milan"
