stages:
  - generate
  - build

variables:
  EB_PATH: "/data/rosi/shared/eb"
  EB_SOURCE: "/data/rosi/shared/eb/easybuild_environments/rome/eb_env"
  SOURCE_PATH: "/data/rosi/shared/eb/easybuild_source"
  GITLAB_CI_GENERATE: "1"
  DRYRUN: "1"
  ARCH: 'genoa'


default:
  tags: ['rosi-admin-shell']
  before_script:
    - ml python
    - source $EB_SOURCE/bin/activate
  id_tokens:
    CI_JOB_JWT:
      aud: "https://codebase.helmholtz.cloud"

generate_pipeline:
  stage: generate
  variables:
    HOOK: "$CI_PROJECT_DIR/gitlab_hook.py"
  script:
    - echo "Generating EasyBuild GitLab CI pipeline for GPU packages"
    - echo "DEBUG Environment variables:"
    - echo "GITLAB_CI_GENERATE=$GITLAB_CI_GENERATE"
    - echo "Current directory is $(pwd)"
    - ls -la gitlab_hook.py || echo "Hook file NOT FOUND"
    - echo "Testing if EasyBuild can find OpenMPI files:"
    - find ${CI_PROJECT_DIR}/easyconfigs -name "OpenMPI-4.0.5-GCC-10.2.0.eb" || echo "File not found in search"
    - echo "Testing with just one file:"
    - |
      eb --hooks=gitlab_hook.py \
         --installpath=${EB_PATH}/${ARCH} \
         --installpath-modules=${EB_PATH}/${ARCH}/modules \
         --tmp-logdir=eblog \
         --buildpath=ebbuild \
         --sourcepath=/data/rosi/shared/eb/easybuild_source \
         --robot --insecure-download --disable-mpi-tests --skip-test-step --skip-test-cases \
         --robot-paths=${CI_PROJECT_DIR}/easyconfigs \
         --ignore-checksums \
         --accept-eula-for=Intel-oneAPI,CUDA,NVHPC,cuDNN \
         --trace --max-parallel=16  \
        OpenMPI-4.0.5-GCC-10.2.0.eb \
        OpenMPI-4.0.6-GCC-10.3.0.eb \
        OpenMPI-4.0.7-GCC-10.3.0.eb \
        OpenMPI-4.1.0-GCC-10.2.0.eb \
        OpenMPI-4.1.1-GCC-10.3.0.eb \
        OpenMPI-4.1.2-GCC-10.2.0.eb \
        OpenMPI-4.1.2-GCC-11.2.0.eb \
        OpenMPI-4.1.5-GCC-12.2.0.eb \
        OpenMPI-4.1.6-GCC-12.3.0.eb

    - python inject_defaults.py easybuild-child-pipeline.yml
    - echo "Pipeline generation completed"
    - cat easybuild-child-pipeline.yml


  artifacts:
    paths:
      -  easybuild-child-pipeline.yml
    expire_in: 1 week

execute_builds:
  stage: build
  trigger:
    include:
      - artifact:  ${CI_PROJECT_DIR}/easybuild-child-pipeline.yml
        job: generate_pipeline
    strategy: depend
  variables:
    EB_PATH: $EB_PATH
 #   CUDA_COMPUTE_CAPABILITIES: 8.0
    SCHEDULER_PARAMETERS: "--nodes=1 --ntasks-per-node=16 --partition=cpu-genoa"
